/***********************************HEADING BODY LIST********************************************/
h3
{
color: green;
font-weight: 400;
font-family: 'Quintessential', cursive;

}
h1
{
color: #0F2C67;
width:500px;
/*border:1px solid black;*/
font-size: 200%;
font-family: 'Bree Serif', serif;
font-style: normal;
font-weight: 400;
font-stretch: normal;
}
,h4,.list
{
color: #0F2C67;
width:500px;
/*border:1px solid black;*/
font-size: 150%;
font-family: 'Hind Madurai', sans-serif;
font-style: normal;
font-weight: 400;
font-stretch: normal;
}
.gec{
  color: Red;
  width:800px;
 /* border:5px solid black;*/
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;

}

li{
  color: blue;
}
/*88888888888888888888888888888----GOOGLE FONT----8888888888888888888888888888*/
body {
  background-color: #D5D5D5;
  font-family: serif;
  font-size: 20px;
  
}
.box {
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  transform: rotate(0.5turn);
}
.practicle1
{
  background-color: #DADDFC;
  font-family:  serif;
  font-size: 12px;
  

}
.practicle2{
  background-color: #AEFEFF;
  font-family:  serif;
  font-size: 12px;
  text-shadow: 4px 4px 4px #aaa;
}
.practicle4{
  background-color: #98AFC7;

  font-size: 12px;
  text-shadow: 4px 4px 4px #aaa;
}
.base{
  background-color:#E6DDC4;
}
.back{
  background-color:#CCCCFF;

}
.index
{background-color: #D2B9D3;}
/***********************************HR********************************************/



}
/*  new adding cv*/

*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;

}

ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: black;
  padding:5px 20px;
  border: 1px solid transparent;
  font-family: 'Staatliches', cursive;
  transition:0.6s ease;

}

ul li a:hover{
  background-color: #fff;
  color:#000;
}
ul li.active a{
  background-color: #fff;
  color:#000;
}


/* change 23 feb */
