body{
  background-color: #E6DDC4;
}
h3
{
color: green;
font-weight: 400;
}
h2{
  font-size: 100%;
  font-family: 'Quintessential', cursive;
}
h1
{
  font-family: 'Bree Serif', serif;

color: #0F2C67;
width:300px;
border:2px solid black;

     display: block;
     margin-left: 40%;
     margin-right:50%;

font-style: normal;
font-weight: 500;
font-stretch: normal;
  font-size: 150%;
}
td {
font-family: 'Hind Siliguri', sans-serif;
 font-size: 75%;
}
p{
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 75%;
}
.raj
{
  float: right;
  margin-right: 20px;
  
}

